# Paso 2.- Datos de REE

## Obtención de datos REE

Obtención de los datos de Consumo y generación, utilizando la misma librería de EsisoData.

In [36]:
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
import matplotlib.pyplot as plt
from esiosdata import PVPC
from esiosdata.prettyprinting import *
import pandas as pd
from datetime import datetime

from esiosdata import DatosREE
ree_handler = DatosREE()

WARNING:root:--> NO SE LEE DB_HDF (Exception: ValueError:The file '/Users/davidcerezallanda/.esiosdata/esiosdem_PENINSULA.h5' is already opened, but not in read-only mode (as requested).)
WARNING:root:--> Se procede a realizar la captura de TODOS los datos existentes:

--> NO SE LEE DB_HDF (Exception: ValueError:The file '/Users/davidcerezallanda/.esiosdata/esiosdem_PENINSULA.h5' is already opened, but not in read-only mode (as requested).)
--> Se procede a realizar la captura de TODOS los datos existentes:

PROCESADO DE DATOS WEB DE 1410 DÍAS
Procesado de tareas en paralelo [1->50, %=3.5]: 7.15 seg [0.1430 seg/tarea]
Procesado de tareas en paralelo [51->100, %=7.1]: 6.87 seg [0.1375 seg/tarea]
Procesado de tareas en paralelo [101->150, %=10.6]: 6.94 seg [0.1388 seg/tarea]
Procesado de tareas en paralelo [151->200, %=14.2]: 6.34 seg [0.1268 seg/tarea]
Procesado de tareas en paralelo [201->250, %=17.7]: 6.21 seg [0.1242 seg/tarea]
Procesado de tareas en paralelo [251->300, %=21.3]: 6.81 seg [0.1361 seg/tarea]
Procesado de tareas en paralelo [301->350, %=24.8]: 6.53 seg [0.1306 seg/tarea]
Procesado de tareas en paralelo [351->400, %=28.4]: 6.02 seg [0.1204 seg/tarea]
Procesado de tareas en paralelo [401->450, %=31.9]: 6.23 seg [0.1246 seg/tarea]
Procesado de tareas en paralelo [451->500, %=35.5]: 6.74 seg [0.1348 seg/tarea]
Procesado de tareas en paralelo [501->550, %=39.0]: 6.33 seg [0.1265 seg/tarea]
Procesado de tareas en paralelo [551->600, %=42.6]: 6.06 seg [0.1212 seg/tarea]
Procesado de tareas en paralelo [601->650, %=46.1]: 6.07 seg [0.1215 seg/tarea]
Procesado de tareas en paralelo [651->700, %=49.6]: 6.02 seg [0.1204 seg/tarea]
Procesado de tareas en paralelo [701->750, %=53.2]: 7.53 seg [0.1507 seg/tarea]
Procesado de tareas en paralelo [751->800, %=56.7]: 6.62 seg [0.1325 seg/tarea]
Procesado de tareas en paralelo [801->850, %=60.3]: 6.42 seg [0.1283 seg/tarea]
Procesado de tareas en paralelo [851->900, %=63.8]: 6.18 seg [0.1237 seg/tarea]
Procesado de tareas en paralelo [901->950, %=67.4]: 6.65 seg [0.1330 seg/tarea]
Procesado de tareas en paralelo [951->1000, %=70.9]: 7.12 seg [0.1425 seg/tarea]
Procesado de tareas en paralelo [1001->1050, %=74.5]: 6.27 seg [0.1254 seg/tarea]
Procesado de tareas en paralelo [1051->1100, %=78.0]: 6.51 seg [0.1302 seg/tarea]
Procesado de tareas en paralelo [1101->1150, %=81.6]: 7.01 seg [0.1402 seg/tarea]
Procesado de tareas en paralelo [1151->1200, %=85.1]: 7.17 seg [0.1435 seg/tarea]
Procesado de tareas en paralelo [1201->1250, %=88.7]: 6.41 seg [0.1282 seg/tarea]
Procesado de tareas en paralelo [1251->1300, %=92.2]: 6.75 seg [0.1350 seg/tarea]
Procesado de tareas en paralelo [1301->1350, %=95.7]: 6.16 seg [0.1232 seg/tarea]
Procesado de tareas en paralelo [1351->1400, %=99.3]: 6.08 seg [0.1216 seg/tarea]
Procesado de tareas en paralelo [1401->1410, %=100.0]: 1.50 seg [0.1504 seg/tarea]
Tiempo de proceso de tareas en paralelo TOTAL (1410 tareas): 185.66 seg [0.1317 seg/tarea]

MERGE DATAFRAMES DE DATOS WEB DIARIOS (282 GRUPOS)
Procesado de tareas en paralelo [1->282, %=100.0]: 23.45 seg [0.0832 seg/tarea]

1410 días importados [Proceso Total 236.12 seg, 0.1675 seg/día]
Últimos valores de generación y demanda:
                           aut    car      cc  cogenResto      dem     eol   gf     hid    icb   inter     nuc     sol  solFot  solTer  termRenov      pre      pro
ts
2019-08-10 10:00:00+02:00  0.0  739.0  9304.0      3576.0  28538.0  1400.0  0.0  1622.0 -304.0  1124.0  6925.0  3718.0  2543.0  1175.0      457.0  28683.0  29199.0
2019-08-10 10:10:00+02:00  0.0  739.0  9305.0      3563.0  28898.0  1345.0  0.0  1617.0 -304.0  1093.0  6927.0  4146.0  2734.0  1411.0      457.0  28974.0  29199.0
2019-08-10 10:20:00+02:00  0.0  746.0  9465.0      3563.0  29303.0  1274.0  0.0  1753.0 -304.0   916.0  6926.0  4493.0  2885.0  1608.0      457.0  29243.0  29199.0
2019-08-10 10:30:00+02:00  0.0  746.0  9440.0      3563.0  29712.0  1219.0  0.0  1775.0 -304.0  1055.0  6928.0  4854.0  3069.0  1785.0      457.0  29489.0  29199.0
2019-08-10 10:40:00+02:00  0.0  741.0  9427.0      3563.0  29876.0  1183.0  0.0  1823.0 -304.0   931.0  6927.0  5108.0  3199.0  1908.0      457.0  29711.0  29199.0
	Nº rows:	202979 samples
	Última:	10-08-2019 10:40

#### Información sobre el archivo local de datos de Consumo

In [63]:
df_ree = ree_handler.data['data']
df_ree.head()

                              aut     car      cc  cogenResto      dem     eol   gf     hid    icb   inter     nuc    sol  solFot  solTer  termRenov      pre      pro                      date
ts
2015-09-30 21:00:00+02:00  3791.0  8334.0  4716.0      3216.0  32572.0  1235.0  0.0  6061.0 -213.0  2067.0  6010.0  566.0    97.0   468.0      575.0  32635.0  31941.0 2015-09-30 21:00:00+02:00
2015-09-30 21:10:00+02:00  3839.0  8394.0  4968.0      3261.0  32584.0  1179.0  0.0  6095.0 -201.0  1789.0  6009.0  509.0    43.0   465.0      578.0  32488.0  31941.0 2015-09-30 21:10:00+02:00
2015-09-30 21:20:00+02:00  3839.0  8417.0  4873.0      3261.0  32277.0  1259.0  0.0  5748.0 -201.0  1827.0  6006.0  505.0    43.0   462.0      578.0  32248.0  31941.0 2015-09-30 21:20:00+02:00
2015-09-30 21:30:00+02:00  3839.0  8368.0  4793.0      3261.0  32021.0  1295.0  0.0  5488.0 -201.0  1930.0  6013.0  493.0    43.0   449.0      578.0  31914.0  31941.0 2015-09-30 21:30:00+02:00
2015-09-30 21:40:00+02:00  3839.0  8387.0  4474.0      3261.0  31494.0  1314.0  0.0  5373.0 -201.0  1801.0  6011.0  492.0    43.0   449.0      578.0  31486.0  31941.0 2015-09-30 21:40:00+02:00

In [64]:
df_ree['date'] = pd.to_datetime(df_ree.index)
df_ree = df_ree.groupby(pd.Grouper(key='date', freq='1h')).mean().dropna()

df_ree['date'] = pd.to_datetime(df_ree.index)
df_ree['date_timestamp'] = df_ree['date'].apply(lambda x:  datetime.timestamp(x))
df_ree['date_day'] = df_ree['date'].apply(lambda x: datetime.strftime(x, '%Y-%m-%d'))
print(df_ree.shape)

(33830, 20)

In [65]:
df_ree = df_ree[df_ree['date'] >= '2015-10-01']
df_ree.head()

,aut,car,cc,cogenResto,dem,eol,gf,hid,icb,inter,nuc,sol,solFot,solTer,termRenov,pre,pro,date,date_timestamp,date_day
date,,,,,,,,,,,,,,,,,,,,
2015-10-01 00:00:00+02:00,3646.666667,8300.833333,2991.166667,3065.666667,24984.666667,1003.666667,0.0,2384.166667,-97.500000,337.833333,6012.833333,402.166667,33.0,368.500000,580.166667,24691.833333,24517.0,2015-10-01 00:00:00+02:00,1.443650e+09,2015-10-01
2015-10-01 01:00:00+02:00,3591.500000,8314.166667,3052.666667,3006.333333,23550.833333,899.000000,0.0,1733.166667,-61.666667,-168.000000,6013.166667,174.833333,33.0,141.333333,584.166667,23440.000000,23169.0,2015-10-01 01:00:00+02:00,1.443654e+09,2015-10-01
2015-10-01 02:00:00+02:00,3567.666667,8286.333333,2824.500000,2980.833333,22648.166667,927.500000,0.0,945.166667,-60.000000,25.166667,6013.500000,103.833333,33.0,70.666667,585.833333,22521.166667,22437.0,2015-10-01 02:00:00+02:00,1.443658e+09,2015-10-01
2015-10-01 03:00:00+02:00,3564.000000,8197.333333,2399.166667,2975.333333,22203.833333,935.666667,0.0,756.666667,-59.833333,292.500000,6013.000000,102.000000,33.0,69.000000,588.500000,22335.333333,22281.0,2015-10-01 03:00:00+02:00,1.443661e+09,2015-10-01
2015-10-01 04:00:00+02:00,3549.000000,8229.333333,2327.833333,2959.166667,21987.833333,900.833333,0.0,531.833333,-59.666667,395.333333,6014.166667,101.666667,33.0,68.166667,589.000000,22177.833333,21910.0,2015-10-01 04:00:00+02:00,1.443665e+09,2015-10-01

In [66]:
df_ree = df_ree.loc[:,('dem', 'eol', 'nuc', 'sol', 'solFot', 'solTer', 'termRenov', 'pre', 'pro', 'date', 'date_timestamp', 'date_day')]
df_ree.rename({'dem': 'Demanda', 'eol': 'Eolica', 'nuc': 'Nuclear', 'sol':'Solar'}, axis=1, inplace=True)
df_ree.rename({'solFot': 'Solar_Fotovoltaica', 'solTer': 'Solar_Termica', 'termRenov': 'Termica_Renovable'}, axis=1, inplace=True)
df_ree.rename({'pre': 'Prevista', 'pro': 'Programada'}, axis=1, inplace=True)

df_ree.tail()

                                Demanda       Eolica      Nuclear        Solar  Solar_Fotovoltaica  Solar_Termica  Termica_Renovable      Prevista  Programada                      date  date_timestamp    date_day
date
2019-08-10 06:00:00+02:00  23617.000000  3466.666667  6913.500000   133.000000           18.000000     114.500000         452.833333  23642.666667     23749.0 2019-08-10 06:00:00+02:00    1.565410e+09  2019-08-10
2019-08-10 07:00:00+02:00  23759.666667  3234.500000  6925.833333   173.500000           63.500000     109.500000         452.166667  23771.333333     23837.0 2019-08-10 07:00:00+02:00    1.565413e+09  2019-08-10
2019-08-10 08:00:00+02:00  25005.833333  2508.166667  6928.166667   764.666667          655.500000     108.666667         453.666667  24975.333333     25119.0 2019-08-10 08:00:00+02:00    1.565417e+09  2019-08-10
2019-08-10 09:00:00+02:00  27365.333333  1702.833333  6927.166667  2211.166667         1849.833333     361.166667         456.500000  27397.666667     27387.0 2019-08-10 09:00:00+02:00    1.565420e+09  2019-08-10
2019-08-10 10:00:00+02:00  29265.400000  1284.200000  6926.600000  4463.800000         2886.000000    1577.400000         457.000000  29220.000000     29199.0 2019-08-10 10:00:00+02:00    1.565424e+09  2019-08-10

In [67]:
df_ree.to_csv('data_demanda_generacion.csv')